body{
    font-family: 'Rowdies', cursive;
}

header, footer, .chmain{
    max-width: 95%;
}

header, footer{
    border: 2px black solid;
    background-color: rgb(19, 19, 72);
    color: white;

}

header{
    display: block;
    
}

footer{
    text-align: center;
}

.hdiv{
    display: flex;
}

nav{
    margin: 0 auto;
    padding: 1rem;
    text-align: end;
}

nav ul {
    text-align: center;
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  nav ul li{
    border: 2px white solid;
    text-align: center;
    min-width: 5em;
    border-radius: 10px 10px 10px 10px;
    margin: 2px;
    background-color: rgb(119, 119, 199);
}

.logo{
    border: 2px greenyellow solid;
    max-width: 100px;
    max-height: 100px;
}

main div{
    
        border: 2px black solid;
        width: auto;
        height: auto;
        margin: 2px;
        padding: 2px;
    
}

.chmain{
    display: grid;
    grid-template-columns: 1fr;
    box-sizing: border-box;
}


.md6{
    
    text-align: center;
}

.md6p{
    border: 1px black solid;
    margin: auto;
    padding: 5px;
}

#sp3{
    display: none;
}

#hamburger-menu{
    background-color: rgb(119, 119, 199);  
    font-size: 2rem;
    border: 0;
  }
  
  #navbar{
    display: none;
  }
  
  #menu-open{
    display: none;
  }
  
  #menu-closed{
    display: inline;
    
  }
  
  #navbar.menu-active{
    display: flex;
  }
  
  #menu-open.menu-active{
    display: inline;
  }
  
  #menu-closed.menu-active{
    display: none;
  }
  