body{
    font-family: 'Rowdies', cursive;
    margin: 5px;
}



header, footer{
    border: 2px black solid;
    background-color: rgb(19, 19, 72);
    color: white;

}

header{
    display: grid;
    
}

footer{
    text-align: center;
}

.hdiv{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    
}

.chamber{
    display: flex;
    grid-column: 1/3;
    grid-row: 1/2;
}

.navdiv{
    padding: 1rem;
    grid-column: 3/4;
    justify-content: right;
    display: flex;

}

.htext{
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
}

.social{
    text-align: right;
    grid-column: 3/4;
    grid-row: 1/2;
    display: inline;
    margin-right: 5px;
}



nav ul {
    text-align: center;
    display: flex;
    flex-direction: column;
    list-style: none;
    position: relative;
    padding-inline-start: 0px;
    
  }

  nav ul li{
    border: 1px white solid;
    text-align: center;
    width: 100%;
    min-width: 10em;

    
    background-color: rgb(119, 119, 199);
    padding: 1rem;
}

header .logo{
    
    max-width: 150px;
    max-height: 150px;
    grid-column: 1/2;
}
footer .logo{
    
    max-width: 100px;
    max-height: 100px;
    grid-column: 1/2;
    
}
.date{
    background-color: rgb(216, 216, 235);
    color: black;
    text-align: center;
    margin: 10px;
    grid-column: 1/4;
    grid-row: 3/4;
    padding: 5px;
    
}


main div{
    
        border: 2px black solid;
        width: auto;
        height: auto;
        margin: 2px;
        padding: 2px;
        
}

.chmain{
    display: grid;
    grid-template-columns: 1fr;
    box-sizing: border-box;
    background-color: rgb(216, 216, 235);
}


.md6{
    
    text-align: center;
}

.md6p{
    border: 1px black solid;
    padding: 10px;
}

#sp3{
    display: none;
}

.social img{
    height: 25px;
    width: 25px;
    padding-top: 1rem;
}

.weather{
    text-align: center;
    padding: 2rem;
}

.weatherimg{
    height: 75px;
    width: 75px;
}

#hamburger-menu{
    background-color: rgb(119, 119, 199);  
    font-size: 2rem;
    border: 0;
    
    
  }
  
  nav ul li.active{
    background-color: rgba(216, 216, 235, 0.9);
    color:black;
}

nav ul li:hover{
    background-color: rgba(216, 216, 235, 0.9);
    color: black;
}

  #navbar{
    display: none;
  }
  
  #menu-open{
    display: none;
    text-align: right;
  }
  
  #menu-closed{
    display: flex;
  
  }
  
  #navbar.menu-active{
    display: flex;
  }
  
  #menu-open.menu-active{
    display: flex;
  }
  
  #menu-closed.menu-active{
    display: none;
  }
  
  .school{
    border-top: 1px white solid;
    padding-top: 5px;
  }

  footer a{
    color: white;
  }

  
#meet-greet{
    display: none;
}

#meet-greet.active{
    background-color: rgb(216, 216, 235);
    color: black;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid black;
    display: block;
    padding: .5rem;
}

.md4 {
    background-image: url("../images/boardwalk.jpg");
    background-size: cover;
    min-height: 300px;
    position: relative;
}

.md4 button{
    position: absolute;
    font-size: 1.5rem;
    
    color: white;
    bottom: 30px;
    right: 25px;
    background-color: brown;
    padding: .5rem;
}

.md5{
text-align: center;
}

.md1{
 text-align: center;
}

.md3{
    display: none;
    padding-top: 2rem;
    text-align: center;
   }

.md3 button{
font-size: 1.5rem;
padding: .5rem;
min-width: 150px;
color: white;
background-color: brown;
}

.descript{
border-bottom: 1px black solid;
padding-bottom: 1rem;   
}

.hamburger{
    justify-self: right;
}

.looks{
    border-bottom: 1px black solid;
    
}