body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

header{
    display: flex;
    align-items: center;
    background-color: gray;
    color: white;
    border: 2px black solid;
}

header img{
    margin: 1rem;


}

header h1{
    text-align: center;
}

header div:nth-child(2){
    width: 100%;
}

#content{
    margin: 0 auto;
    width: 800px;
}

footer{
    align-items: center;
    background-color: gray;
    color: white;
    border: 2px black solid;
    text-align: center;
    padding: 1rem;

}