body{
    font-family: 'Rowdies', cursive;
}

header{
    display: flex;
    align-items: center;
    background-color: rgb(119, 119, 199);
    color: black;
    border: 2px black solid;
}

header img{
    margin: 1rem;
    width: 75%;
    height: 75%;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 10px 10px darkslategrey;


}

header h1{
    text-align: center;
    
}

header div:nth-child(2){
    width: 100%;
}

#content{
    margin: 0 auto;
    width: 640px;
}

footer{
    align-items: center;
    background-color: rgb(119, 119, 199);
    color: black;
    border: 2px black solid;
    text-align: center;
    padding: 1rem;

}